
body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  /* .main-content{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
  } */

  .nav-bar-header{
    padding-bottom: 4em;

  }

  .form-ctn{
    padding: 4em 0;
  }

nav ul li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color :#333;
    padding: 10px;
}

nav ul a {
    text-decoration: none;
    color:#333;
    padding: 10px;
}

nav ul li{
    text-decoration: none;
    color :#333;
}


nav ul li.submenu:hover .submenu-content {
    display: block;
}


nav ul li .submenu-content {
    display: none;
    position: absolute;
    background-color: #333;
    border: 1px solid #777;
    padding: 0;
    top: 100%;
    left: 0;

}

nav ul li .submenu-content li {
    width: 100%;
}

nav ul li .submenu-content li a {
    display: flex;
    flex-direction: row;
    padding: 10px;
    color: white;
    text-decoration: none;
   
    
}


nav ul li .submenu-content li:hover {
    background-color: #444 ;
}

.navbar{

    flex-direction: row-reverse;
    padding: 0 2em !important;
}

.submenu{
    margin-bottom: 6em;
}


@media screen and (min-width:768px ) {
    .container-md{
        width: 60% !important;
    }
    
}

@media screen and (min-width:1440px ) {
    .container-md{
        width: 40% !important;
    }
    
}


@media screen and (min-width:2560px ) {
    .container-md{
        width: 30% !important;
    }
    
}