<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drink Details</title>
    <link rel="stylesheet" href="static/app.css">
</head>

<body>

    <nav>
        <ul>
            <a href="/search_ingredients"> Search new drink</a>
            <a href="/{{user_id}}/favorites">Favorites</a>
            <li class="submenu">
                <a href="#">Account</a>
                <ul class="submenu-content">
                    <li><a href="/logout">Logout</a></li>
                    <li><a href="/{{user_id}}/edit">Edit profile</a></li>
                    <li><a href="/{{user_id}}/delete">Delete account</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    {% for detail in data['drinks'] %}
    <h1>
        {{detail['strDrink']}}
    </h1>

    <div>
        <img src="{{detail['strDrinkThumb']}}" style=width:200px, height=200px alt="imgae of {{detail['strDrink']}}">
    </div>

    <ul id="ingredients">

        {% for i in range(1,16) %}
        {% if (detail['strIngredient' ~ i|string] != None) and (detail['strMeasure'] ~ i|string !=None) %}

        <li>

            {% if detail['strMeasure' ~i|string] == None %}

            1 {{detail['strIngredient' ~ i|string]}}

            {% else %}

            {{detail['strMeasure' ~i|string]}}
            {{detail['strIngredient' ~ i|string]}}

            {% endif %}

        </li>
        {% endif %}
        {% endfor %}
    </ul>

    <p>Instructions: {{detail['strInstructions']}}</p>

    <form action="/{{detail['idDrink']}}/add_favorites" method="post">

        <button>favorite</button>

    </form>

    {% endfor %}



</body>

</html>