<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="static/app.css">
</head>

<body>
    <h1>Welcome to Cocktail Finder</h1>
    {% for message in get_flashed_messages() %}

    {{message}}

    {% endfor %}
    <h3>Browse through a variety of cocktails using the ingredients you already have in your home! </h3>
    <a href="/login">click here to get started!</a>
</body>

</html>