<!DOCTYPE html>
<html lang="en" style="height: 100%;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="static/app.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>


<body class="p-3 bg-info-subtle text-emphasis-info text-center" style="height: 100%;">
    <div class="container-fluid">
        <div class="container-md">
            <h1>Please Sign In</h1>
            {% for message in get_flashed_messages() %}

            <p class="text-center">{{message}}</p>


            {% endfor %}
            <form action="/login/handle" method="POST">
                {{form.hidden_tag()}}
                {% for field in form if field.widget.input_type != 'hidden' %}

                <div class="form-floating mb-3">
                    {% if field.name == "password" %}
                    <input type="password" class="form-control" id=" floatingInput" {{field}} <label
                        for="floatingInput">
                    {{field.label}}
                    </label>

                    {% else %}
                    <input type="text" class="form-control" id=" floatingInput" {{field}} <label for="floatingInput">
                    {{field.label}}
                    </label>

                    {% endif %}
                    {% endfor %}
                </div>

                <button class="btn btn-outline-success">login</button>
            </form>




            <p class="lead">or don't have an account? click <a href=" /signup">here</a> to sign up!</p>
        </div>
    </div>


</body>

</html>