<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="static/app.css">
</head>

<body>
    <nav>
        <ul>
            <a href="/{{user_id}}/favorites">Favorites</a>
            <li class="submenu">
                <a href="#">Account</a>
                <ul class="submenu-content">
                    <li><a href="/logout">Logout</a></li>
                    <li><a href="/{{user_id}}/edit">Edit profile</a></li>
                    <li><a href="/{{user_id}}/delete">Delete account</a></li>
                </ul>
            </li>
        </ul>
    </nav>


    <h1>Search for a cocktail by ingredients!</h1>

    {% for message in get_flashed_messages() %}

    {{message}}

    {% endfor %}

    <form action="/handle_search_ingredients" method="POST">
        {{form.hidden_tag()}}

        {% for field in form if field.widget.input_type != 'hidden' %}

        {{field.label}}

        {{field}}

        {% endfor %}

        <button>search for drink</button>

    </form>

</body>

</html>