<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="static/app.css">
</head>

<body>
    <form action="/signup/handle" method="POST">

        {{form.hidden_tag()}}

        {% for field in form if field.widget.input_type != 'hidden' %}

        {{field.label}}

        {{field}}

        {% endfor %}

        <button>create user</button>

    </form>

    <a href="/"><button>cancel</button></a>

</body>

</html>